@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

body{
    background: linear-gradient(45deg,pink,violet);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

#container {
    min-width: 30%;
    min-height: 50%;
    backdrop-filter: blur(14px);
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 20px;
    z-index: 10 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 5px 10px;
    font-family: "Poppins",sans-serif;
}

.fa-heart {
    color: rgb(60, 0, 60);
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

.fa-solid {
  z-index: 0;
}

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}

#evil-button{
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
}
/* CSS */
button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}

.valentine {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 4rem;
  position: absolute;
  text-shadow: -5px 2px 7px #ced0d3;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 2px 2px 0px #FFB650, 
    4px 4px 0px #FFD662, 
    6px 6px 0px  #FF80BF, 
    8px 8px 0px #EF5097, 
    10px 10px 0px #6868AC;
}
 .pre-valentine{
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  top:30%;
  left: 43%;
 }
